#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.image{
  /* padding: 5rem; */
  height: 90vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  

}
#frame{
  border-radius: 1rem;
}
.parent-div{
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 4rem;
}
.controls{
 
}

#imgdiv{
  background-image: url('./assets/download.png');
  background-repeat: no-repeat;
  background-size:400px;
  /* background-blend-mode: overlay; */
  border-radius: 1rem;
   background-position-x:center; /* Add this line */
    background-position-y: center;
  /* transform: scale(1.2); */


}
.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  /* width: 50%;
  height: 50%; */
}
.rotate {
  

 
}

@keyframes yoyo {
  from { transform: rotate(  0deg); }
  to   { transform: rotate(45deg); }
}